@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

$palette-majority: #EBE2CA;
$palette-accent-first: #F7B85A;
$palette-accent-second: #CB4101 ;
$palette-accent-third: #571009;
$palette-accent-fourth: #9B200B; 

$lengthLarge1:  4rem;
$lengthLarge2: 3rem;
$lengthLarge3: 2rem;
$lengthMedium1: 1.5rem;
$lengthMedium2: 1.25rem;
$lengthMedium3: .75rem;
$lengthSmall1: .5rem;
$lengthSmall2: .375rem;
$lengthSmall3: .25rem;

$header-font-stack: 'Noto Sans', sans-serif;  ;



.App {
  width: 100vw;
}

#sidebar-main-menu{
  background-color: $palette-accent-third
}

.menu-bar-link{
  font-size: $lengthMedium3;
}
.mobile-menu-bar-link{
  font-size: $lengthMedium2;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


#primary-menu-bar{
  // background-image: linear-gradient( to left top,rgba($palette-accent-first,1), rgba($palette-accent-fourth,.5)); 
  background-image: linear-gradient( to left top,rgba($palette-accent-second,1), rgba($palette-accent-third,.5));

  border-radius: 0;
  // margin-bottom: .75em;
}

#shopping-cart-icon
{
  color: $palette-accent-third
}

.badge{
  color: $palette-majority;
  font-size: $lengthMedium3;
  
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }

  #shopping-cart-icon-number{
    
      font-size: 1rem;
      font-weight: bolder;
      color: $palette-accent-fourth;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -25px; 
      margin-bottom: 5px;
  }

  #content-not-found-page{
   
  }

  #footer{

    margin-top: 5vh;
    background-color: $palette-accent-third;
    color: $palette-majority;
    font-weight: bolder;
  }

  .subtext404{
   font-size: $lengthMedium3;
  }

  .itemCardHeader{
    white-space: nowrap;
    overflow-wrap: break-word;
    // max-width: 20ch;
    overflow: hidden;
    font-size:$lengthMedium3;
    text-overflow: ellipsis;
    // max-width: 15ch;
    font-family: $header-font-stack !important;
    display:inline-block;
    margin-top: .5em;
  }


  .itemCardPrice{
    font-size: $lengthMedium2;
    font-family: $header-font-stack;
    color:$palette-accent-third;
    float: right;
    text-align: right; 
    margin-top: .5em;

  }

  .itemCard{
    height:100%;
    display: grid;
    grid-template-rows: 1fr max-content;
    
    // background: red;
  }
  .itemCardMaterials{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
  }




  .itemCardContent{
    width: 100%;
    padding: 10%;
  }
  .itemCardImageContainer{
    width:170px;
    display:block;

    
  }

  .itemImage{
    // width:20%;
    display:block;
    max-height:150px;
    max-width: 150px;
    // width:auto;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    
    // height:50px;
    // width:50px;
    // height:100%;
    // object-fit: contain

  }

  .card{
    box-shadow: none !important;
  }

  .column:nth-child(even) .itemCardImageContainer{
    background-image: linear-gradient( to left top,rgba($palette-accent-second,1), rgba($palette-accent-third,1));

  }
   .column:nth-child(odd) .itemCardImageContainer{
    background-image: linear-gradient( to left top,rgba($palette-accent-third,1), rgba($palette-accent-fourth,1));

  }

  .column:nth-child(3n+3) .itemCardImageContainer{
    background-image: linear-gradient( to left top,rgba($palette-accent-fourth,1), rgba($palette-accent-first,1));
  }
  


  // .column:nth-child(3n+1) > .itemCard > div > a> img{
  //   // background-color: $palette-accent-second;
  //   background-image: linear-gradient( to left top,rgba($palette-accent-second,1), rgba($palette-accent-third,1)); 
  // }
  // .column:nth-child(3n+2) > .itemCard > div > a> img{
  //   // background-color: $palette-accent-third;
  //   background-image: linear-gradient( to left top,rgba($palette-accent-third,1), rgba($palette-accent-fourth,1));
  // }

  // .column:nth-child(3n+3) > .itemCard > div > a> img{
  //   // background-color: $palette-accent-fourth;
  //   background-image: linear-gradient( to left top,rgba($palette-accent-fourth,1), rgba($palette-accent-first,1));
  // }


  a:link {
    color: $palette-accent-fourth
  }

  A:visited{
    color: $palette-accent-second
  }


