$palette-majority: #EBE2CA;
$palette-accent-first: #F7B85A;
$palette-accent-second: #CB4101 ;
$palette-accent-third: #571009;
$palette-accent-fourth: #9B200B; 

$lengthLarge1:  4rem;
$lengthLarge2: 3rem;
$lengthLarge3: 2rem;
$lengthMedium1: 1.5rem;
$lengthMedium2: 1.25rem;
$lengthMedium3: 1rem;
$lengthSmall1: .5rem;
$lengthSmall2: .375rem;
$lengthSmall3: .25rem;

#root { background-color: $palette-majority;}

.App {
  text-align: center;
  background-color: $palette-majority;
  height: 100em;
}

#sidebar-main-menu{
  background-color: $palette-accent-third
}

.menu-bar-link{
  font-size: $lengthMedium3;
}
.mobile-menu-bar-link{
  font-size: $lengthMedium2;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#primary-menu-bar{
  background-color: $palette-accent-first; 
  margin-bottom: .75em;
}

#shopping-cart-icon
{
  color: $palette-accent-third
}

.badge{
  color: $palette-majority;
  font-size: $lengthMedium3;
  
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
  }

  #shopping-cart-icon-number{
    
      font-size: $lengthMedium2;
      font-weight: bolder;
      color: $palette-accent-fourth;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -25px; 
      margin-bottom: 25px;
  }